.wrapper {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

h1 {
    margin: 0 auto 40px;
    font: 20px Helvetica;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.form label {
    position: relative;
    display: block;
}

.form label input {
    font: 18px Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    display: block;
    border: none;
    padding: 16px;
    width: 400px;
    margin-bottom: 20px;
    font-size: 18px;
    outline: none;
    transition: all 0.2s ease-in-out;
}

.form label input::placeholder {
    transition: all 0.2s ease-in-out;
    color: #000;
    font: 18px Helvetica, Arial, sans-serif;
}

.form label input:focus,
form label input.populated {
    padding-top: 28px;
    padding-bottom: 12px;
}

.form label input:focus::placeholder,
form label input.populated::placeholder {
    color: transparent;
}

.form label input:focus+span,
form label input.populated+span {
    opacity: 1;
    top: 10px;
}

form label span {
    color: #3DCEA0;
    font: 13px Helvetica, Arial, sans-serif;
    position: absolute;
    top: 0px;
    left: 20px;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.form input[type="submit"] {
    transition: all 0.2s ease-in-out;
    font: 18px Helvetica, Arial, sans-serif;
    border: none;
    background: #3DCEA0;
    color: #fff;
    padding: 16px 40px;
}

.form input[type="submit"]:hover {
    background: #3DCEA0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0!important;
    background: #5c6664;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
}

select::-ms-expand {
    display: none;
}

.select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #fff;
    overflow: hidden;
    border-radius: .25em;
}

.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #fff;
    cursor: pointer;
    pointer-events: none;
    transition: .25s all ease;
}

.select:hover::after {
    color: #3DCEA0;
}