{% extends 'donor/filter.html' %}
{% block title %}Ukraine Hospitals{% endblock title %}
{% block css %}
<style>
    #filter_nav{
        display: none !important;
    }
</style>
{% endblock css %}

{% block body %}
<nav class="navbar bg-inverse fixed-top bg-faded" style="background-color: #364E51 !important;">
    <div class="row">
        <a class="navbar-brand" style="padding:0px !important" href="/"><img style="width: 80px;" src="/media/images/main-logo.png" alt=""></a>
        <a style="color: white;" class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        <a style="color: white;" class="nav-link" href="/patient/patienthleads">All Hospitals <span class="sr-only">(current)</span></a>
        {% if request.session.uid %}
        <a style="color: white;" class="nav-link ml-auto" href="/logout/">Logout</a>
        {% else %}
        <a href="/loginpage/" class="clear-cart btn ml-auto" style="background-color: #FFFFDD;color:black;margin-right:10px">Login/SignUp</a>
        {% endif %}
    </div>
</nav>
<div id="all_hosps">
</div>

{% endblock body %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
<script src="/media/js/hleads.js"></script>
<script>
    document.getElementById("beds_filter").selected = true;

</script>
{% endblock scripts %}