{% extends 'basic.html' %} {% block basic_title %} Yodha :: Hospitals - Verify Donors {% endblock basic_title %} {% block basic_head %}
<link rel="stylesheet" href="/media/css/hospitalverifydonor.css"> {% endblock basic_head %} {% block basic_body %}

<div class="container">
    <h1 style="padding-top: 40px; padding-bottom: 2z0px;" class="display-5">Verify Donors</h1>
    <table class="donation">
        <thead>
            <tr>
                <th><label>Donor ID</label></th>
                <th><label>Donor Name</label></th>
                <th><label>Verify</label></th>
            </tr>
        </thead>
        <tbody>
            {% for requestx in all_verification_requests %}
            <tr>
                <td>{{requestx.donor_id}}</td>
                <td>{{requestx.donor_name}}</td>
             
                <td><button style="background-color:#3DCEA0; border: none;" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#detailsModal" onclick="set_req_id({{requestx.id}})">Verify Now</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Donor Verification</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <form method="post" action="{% url 'verifyVerificationRequest' %}" id="verification_form">{% csrf_token %}
                        <input type="text" name="curr_req" id="curr_req" hidden>
                        <label for="" class="form-label">Enter Your Password</label>
                        <input type="password" class="form-control" name="password" id="" aria-describedby="emailHelpId" placeholder="" />

                          <label for="keyHash" class="form-label">Decrypted Hash</label>
                          <textarea class="form-control" name="" id="keyHash" rows="5" disabled></textarea>
                        
                    </form>
                </div>
            </div>
            
            <button type="button" style="background-color:#3DCEA0; border: none;" class="btn btn-success" onclick="verify_request()">Verify To donor</button>
        </div>


    </div>
</div>
</div>
</div>
{% endblock basic_body %} {% block basic_scripts %}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<script>
    function set_req_id(req_id){
        $("#curr_req").val(req_id)
    }
</script>
<script src="/media/js/verifyhosp.js"></script>

{% endblock basic_scripts %}