{% extends 'basic.html' %} {% block basic_title %} Yodha :: Hospitals - Add Services{% endblock basic_title %} {% block basic_head %}
<link rel="stylesheet" href="/media/css/hospitaladd.css"> {% endblock basic_head %} {% block basic_body %}




<div class="container-fluid wrapper">
  <h1 class="display-5">Add Your Services</h1>
    <form class="form" action="{% url 'uploadIPFS' %}" method="post" id="add_form" enctype="multipart/form-data">{% csrf_token %}
        <input type="text" value="{{request.session.uid}}" id="hospital_id" hidden>
        <div class="select">
            <select name="options" id="options" onchange="callChange()">
           <option selected disabled>Choose what to add?</option>
           <option value="Medicine">Medicine</option>
           <option value="Service">Service</option>
        </select>
        </div>

        <div id="service-form">
            <label class="mt-4">
        <input id="stype" type="text" id="service_name" placeholder="Service name">
        <span>Service type</span>
      </label>

            <label>
        <input id = "scost" type="text" id="service_cost" placeholder="Service Cost">
        <span>Service cost</span>
      </label>

      <label>
        <input type="text" id="service_desc" placeholder="Service Description">
        <span>Service Description</span>
      </label>
        <label>
        <input type="file"  id="service_img" name="service_img" placeholder="Service Image">
        <span>Service Image</span>
      </label>  
        </div>


        <div id="medicine-form">
            <label class="mt-4">
            <input type ="text" id="medicine_name" placeholder="Medicine name">
            <span>Medicine Name</span>
          </label>

            <label>
            <input type="text" id="medicine_cost" placeholder="Medicine Cost">
            <span>Medicine cost</span>
          </label>
            <label>
            <input type="text" id="medicine_desc" placeholder="Medicine Description">
            <span>Medicine Description</span>
          </label>
            <label>
            <input type="file" id="medicine_img" name="medicine_img" placeholder="Medicine Image">
            <span>Medicine Image</span>
          </label>            
        </div>


        <input type="button" onclick="add_service_medicine()" class="btn btn-primary mt-3" value="Add">
</div>

</form>

</div>

{% endblock basic_body %} {% block basic_scripts %}
<script>
    document.getElementById("service-form").style.display = "none";
    document.getElementById("medicine-form").style.display = "none";
    const callChange = () => {
        var select = document.getElementById('options');
        var value = select.options[select.selectedIndex].value;
        if (value == "Medicine") {
            document.getElementById("service-form").style.display = "none";
            document.getElementById("medicine-form").style.display = "block";
        }
        if (value == "Service") {
            document.getElementById("medicine-form").style.display = "none";
            document.getElementById("service-form").style.display = "block";
        }
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
<script src="/media/js/hospitaladd.js"></script>

{% endblock basic_scripts %}