{% extends 'basic.html' %}
{% block basic_title %}Yodha :: Hospitals Under Verification{% endblock basic_title %}

{% block basic_head %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
{% comment %} <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> {% endcomment %}
<link rel="stylesheet" href="/media/css/volunteer.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&amp;subset=latin,latin-ext">
{% endblock basic_head %}


{% block basic_body %}

    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Hospitals <b>Under Verification</b></h2>
                </div>
                <div class="col-sm-6">
                    <div class="btn-group" data-toggle="buttons">

                        <label class="btn btn-info active">
                            <span style="margin-right: -10px;">All</span>
                            <input type="radio" name="status" value="all" style="visibility:hidden;" checked="checked">
                        </label>
                        <label class="btn btn-success">
                            <span style="margin-right: -10px;">Verified</span>
                            <input type="radio" name="status" value="active" style="visibility:hidden;">
                        </label>
                        <label class="btn btn-danger">
                            <span style="margin-right: -10px;">Under Verification</span>
                            <input type="radio" name="status" value="expired" style="visibility:hidden;">
                        </label>

                    </div>
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Sr.</th>
                    <th>Hospital Name</th>
                    <th>String Submitted</th>
                    <th>Contact</th>
                    <th>Verification Status</th>
                    <th>Donation</th>
                </tr>
            </thead>
            <tbody>
                <input type="text" name="donor_id" id="donor_id" hidden>
                <input type="text" name="receiver_id" id="receiver_id" hidden>
                <input type="text" name="receiver_acc" id="receiver_acc" hidden>
                {% for req in all_verification_requests %}
                {% if req.is_verified %}
                <tr data-status="active">
                {% else %}
                <tr data-status="expired">
                {% endif %}
                    <td style="color: #FFAE42;">#{{forloop.counter}}</td>
                    <td>{{req.hosp_name}}</td>
                    <td>{{req.submitted_string}}</td>
                    <td>9876543210</td>
                    {% if req.is_verified %}
                    <td><a href="#" class="btn btn-sm manage">Verified</a></td>
                    {% else %}
                    <td><a href="#" class="btn btn-sm manage">Under Verification</a></td>
                    {% endif %}
                    <td><button type="button" class="btn btn-md manage" data-toggle="modal" data-target="#exampleModal" onclick="set_details('{{req.donor_id}}','{{req.hosp_id}}','{{req.hosp_address}}')">
                        Donate
                      </button></td>
                </tr>
                {% endfor %}
                
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            <input type="number" name="donation_amount" id="donation_amount">
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="approve_donation()">Save changes</button>
                        </div>
                    </div>
                    </div>
                </div>

            </tbody>
        </table>
    </div>
{% endblock basic_body %}

{% block basic_scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
<script src="/media/js/volunteer.js"></script>

<script>
    document.getElementById("food_supplier_verify_verified").disabled = true;
    document.getElementById("food_supplier_verify_unverified").disabled = true;

    function set_details(donor_id, hosp_id, receiver_acc){
        $("#donor_id").val(donor_id)
        $("#receiver_id").val(hosp_id)
        $("#receiver_acc").val(receiver_acc)
    }
</script>
{% endblock basic_scripts %}
