{% extends 'basic.html' %}

{% block basic_title %} Yodha :: Home{% endblock basic_title %}

{% block basic_head %}

<link rel="stylesheet" href="/media/css/home.css">
<link rel="stylesheet" href="https://cdn.3up.dk/mdi@2.2.43/css/materialdesignicons.min.css">

{% endblock basic_head %}

{% block basic_body %}

<main>
    <!-- Main Container -->
    <div class="container col-xxl-10 px-1 py-1" style="margin-top: 20px; margin-bottom: 80px;">

        <!-- Hero Section -->
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5"
            style="margin-top: -40px; margin-bottom: 40px; ">
            <div class="col-sm-12 col-lg-6">
                <img src="/media/images/home/hero.png" id="banner" class="d-block mx-lg-auto img-fluid" width="800"
                    height="700" loading="lazy">
            </div>
            <div class="col-lg-6" id="hero_text_div">
                <h1 class="display-5 fw-bold lh-1 mb-3" style="font-size: 48px; color: #00adb5;font-family: oswald;">
                    Yodha - Decentralized Emergency Resources
                </h1>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <a href="leads/oxygenleads/1"><button style="background-color: #47E0B0;border-color:white"
                            type="button" class="btn btn-primary btn-lg px-4 me-md-2">Donate</button></a>
                    <a href="donations/oxygen/"><button type="button" style="color: #47E0B0;border-color:#47E0B0;"
                            class="btn btn-outline-primary btn-lg px-4 me-md-2">All Hospitals</button></a>
                </div>
            </div>
        </div>
        <!-- Hero Section End -->

        <!-- About -->

        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-sm-8 col-lg-6">
                <table>
                    <tr>

                        <th style="color: #47E0B0">What you need to know?</th>
                        <th></th>

                    </tr>
                    <tr>
                        <td><a href="#transmission">How Yodha Works?</a></td>
                        <td><i class="fa fa-arrow-right"></i></td>
                    </tr>
                    <tr>
                        <td><a href="#symptoms">What are the benefits of Yodha</a></td>
                        <td><i class="fa fa-arrow-right"></i></td>
                    </tr>
                    <tr>
                        <td><a href="#treatment">How Yodha is a gift to patients</a></td>
                        <td><i class="fa fa-arrow-right"></i></td>
                    </tr>
                    <tr>
                        <td><a href="#faqs">FAQ's</a></td>
                        <td><i class="fa fa-arrow-right"></i></td>
                    </tr>

                </table>
            </div>
            <div class="col-lg-6" id="about_covid_div">
                <h5 class="display-5 fw-bold lh-1 mb-3" style="font-size: 18px; color: #47E0B0;font-family: Roboto;">
                    ABOUT THE PLATFORM</h5>

                <h3 class="display-5 fw-bold lh-1 mb-3" style="font-size: 48px; color: #00adb5;font-family: oswald;">
                    YODHA</h3>

                <p class="lead" style="color: #393e46;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                <p class="lead" style="color: #393e46;"> Click on the links given on right to know more about Yodha in
                    depth.</p>

            </div>
        </div>

        <!-- About End -->

        <!-- Mission -->
        <div class="px-4 py-5 my-5 text-center"><a name='transmission'></a>
            <h5 class="display-5 fw-bold lh-1 mb-3" style="font-size: 18px; color: #47E0B0;font-family: Roboto;">HOW
                OUR PLATFORM WORKS</h5>

            <h3 class="display-5 fw-bold lh-1 mb-3" style="font-size: 48px; color: #00adb5;font-family: oswald;">
                YODHA IN ACTION</h3>

            <div class="col-lg-6 mx-auto">
                <p class="lead mb-6">All transactions are processed using blockchain which is a decentralized way so
                    that no single person or group has control—rather, all users collectively retain control . Below are
                    three steps for successful donation: </p>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width:100%">
                    <img src="/media/images/home/account.png" alt="Avatar" style="width:100%">
                    <div class="container">
                        <h4><b>Step 1 : Make an Account</b></h4>
                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width:100%">
                    <img src="/media/images/home/verify.png" alt="Avatar" width="300px" height="300px">
                    <div class="container">
                        <h4><b>Step 2 : Verify Hospitals</b></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width:100%">
                    <img src="/media/images/home/track.png" alt="Avatar" style="width:100%">
                    <div class="container">
                        <h4><b>Step 3 : Track Your Donation</b></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Mission -->

    <!-- Prevention & Advice Begin -->
    <div class="px-4 py-5 my-5 text-center"><a name='prevention'></a>
        <h5 class="display-5 fw-bold lh-1 mb-3" style="font-size: 18px; color: #47E0B0;font-family: Roboto;">BENEFITS OF
            YODHA</h5>

        <h3 class="display-5 fw-bold lh-1 mb-3" style="font-size: 48px; color: #00adb5;font-family: oswald;">
            How Users Benefit From Yodha</h3>

        <div class="col-lg-6 mx-auto">
            <p class="lead mb-12">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua.</p>
        </div>

    </div>

    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-3">
                <img src="/media/images/home/verify.png" style="width:124px; border-radius: 50%;">
                <h4 style="margin-top: 20px;">Verify Genuinity of Hospitals</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.</p>

            </div><!-- /.col-lg-4 -->
            <div class="col-lg-3">
                <img src="/media/images/home/track.png" style="width:186px; border-radius: 50%;">
                <h4 style="margin-top: 20px;">Donate Money for Cause</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.</p>

            </div><!-- /.col-lg-4 -->
            <div class="col-lg-3">
                <img src="/media/images/home/track2.png" style="width:150px; border-radius: 50%;">
                <h4 style="margin-top: 20px;">Track Your Donation</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.</p>

            </div><!-- /.col-lg-4 -->
            <div class="col-lg-3">
                <img src="/media/images/home/use.png" style="width:150px; border-radius: 50%;">

                <h4 style="margin-top: 20px;">Use of Donation</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.</p>

            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->

    </div>
    <!-- Prevention & Advice End -->

    <!-- Treatment -->

    <div class="row align-items-md-stretch"
        style="padding-top: 100px; padding-bottom:100px; margin-top:20px; margin-bottom:-50px; background-color: #00adb5; background-image: url('/media/images/home/bg.png');">
        <a name='treatment'></a>
        <div class="col-md-6">
            <div class="h-100 p-5 text-white  rounded-3">
                <h5 class="display-5 fw-bold lh-1 mb-3 text-white "
                    style="font-size: 18px; color: #47E0B0;font-family: Roboto;">
                    GIFT TO UKRAINE</h5>

                <h3 class="display-5 fw-bold lh-1 mb-3 text-white "
                    style="font-size: 48px; color: #00adb5;font-family: oswald;">
                    OUR WAY OF HELPING</h3>

                <div class="col-lg-12 mx-auto">
                    <p style="color:white !important;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                        dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                        sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                        laborum.</p>

                    <p style="color:white !important;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="h-100 p-5 text-white rounded-3">

                <h2>Security</h2>
                <p style="color:white !important;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

                </p>
               
                <br>
                <h2>Medical Treatments</h2>
                <p style="color:white !important;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>
    </div>

    <!-- Treatment END -->

    <!-- DO’S & DON’TS -->
    <div style="background-color: #F6F9FE;">
        <div class="px-4 py-5 my-5 text-center">
            <h5 class="display-5 fw-bold lh-1 mb-3" style="font-size: 18px; color: #47E0B0;font-family: Roboto;">
                WORK OF BLOCKCHAIN</h5>

            <h3 class="display-5 fw-bold lh-1 mb-3" style="font-size: 48px; color: #00adb5;font-family: oswald;">
                BLOCKCHAIN EXPLAINED</h3>

            <div class="col-lg-6 mx-auto">
                <p class="lead mb-12">Blockchain is a shared, immutable ledger that facilitates the process of recording
                    transactions and tracking assets in a business network. An asset can be tangible (a house, car,
                    cash, land) or intangible (intellectual property, patents, copyrights, branding). Virtually anything
                    of value can be tracked and traded on a blockchain network, reducing risk and cutting costs for all
                    involved.</p>
            </div>

        </div>


        <div class="col-12 col-sm-12 col-lg-12">
            <img src="/media/images/home/blockchain.jpg" class="d-block mx-lg-auto img-fluid" width="1200" height="600"
                loading="lazy">
        </div>
    </div>
    <!-- DO’S & DON’TS End -->

    <!-- FAQ'S -->
    <div class="px-4 py-5 my-5 text-center"><a name='faqs'></a>
        <h5 class="display-5 fw-bold lh-1 mb-3" style="font-size: 18px; color: #47E0B0;font-family: Roboto;">
            FREQUENTLY ASKED QUESTIONS</h5>

        <h3 class="display-5 fw-bold lh-1 mb-3" style="font-size: 48px; color: #00adb5;font-family: oswald;">
            COMMON QUESTION & ANSWER</h3>

        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="nav nav-pills faq-nav" id="faq-tabs" role="tablist" aria-orientation="vertical">
                        <a href="#tab1" class="nav-link active" data-toggle="pill" role="tab" aria-controls="tab1"
                            aria-selected="true">
                            <i class="fa fa-question-circle"></i> Frequently Asked Questions
                        </a>
                        <a href="#tab2" class="nav-link" data-toggle="pill" role="tab" aria-controls="tab2"
                            aria-selected="false">
                            For Donors
                        </a>
                        <a href="#tab3" class="nav-link" data-toggle="pill" role="tab" aria-controls="tab3"
                            aria-selected="false">
                            For Patients
                        </a>
                       
                        </a>
                    </div>
                </div>
                <div class="col-lg-8" style="text-align: justify;">
                    <div class="tab-content" id="faq-tab-content">
                        <div class="tab-pane show active" id="tab1" role="tabpanel" aria-labelledby="tab1">
                            <div class="accordion" id="accordion-tab-1">
                                <div class="card" style="width: 100%;">
                                    <div class="card-header" id="accordion-tab-1-heading-1">
                                        <h5>
                                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                                data-target="#accordion-tab-1-content-1" aria-expanded="false"
                                                aria-controls="accordion-tab-1-content-1">What is Yodha?</button>
                                        </h5>
                                    </div>
                                    <div class="collapse show" id="accordion-tab-1-content-1"
                                        aria-labelledby="accordion-tab-1-heading-1" data-parent="#accordion-tab-1">
                                        <div class="card-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card" style="width: 100%;">
                                    <div class="card-header" id="accordion-tab-1-heading-2">
                                        <h5>
                                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                                data-target="#accordion-tab-1-content-2" aria-expanded="false"
                                                aria-controls="accordion-tab-1-content-2">Why is it called
                                                Yodha</button>
                                        </h5>
                                    </div>
                                    <div class="collapse" id="accordion-tab-1-content-2"
                                        aria-labelledby="accordion-tab-1-heading-2" data-parent="#accordion-tab-1">
                                        <div class="card-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.”</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="tab-pane" id="tab2" role="tabpanel" aria-labelledby="tab2">
                            <div class="accordion" id="accordion-tab-2">
                                <div class="card" style="width: 100%;">
                                    <div class="card-header" id="accordion-tab-2-heading-1">
                                        <h5>
                                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                                data-target="#accordion-tab-2-content-1" aria-expanded="false"
                                                aria-controls="accordion-tab-2-content-1">How can I donate?</button>
                                        </h5>
                                    </div>
                                    <div class="collapse show" id="accordion-tab-2-content-1"
                                        aria-labelledby="accordion-tab-2-heading-1" data-parent="#accordion-tab-2">
                                        <div class="card-body">
                                            <ul style="text-align: left;">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                              
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card" style="width: 100%;">
                                    <div class="card-header" id="accordion-tab-2-heading-2">
                                        <h5>
                                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                                data-target="#accordion-tab-2-content-2" aria-expanded="false"
                                                aria-controls="accordion-tab-2-content-2">Can I donate Blood?</button>
                                        </h5>
                                    </div>
                                    <div class="collapse" id="accordion-tab-2-content-2"
                                        aria-labelledby="accordion-tab-2-heading-2" data-parent="#accordion-tab-2">
                                        <div class="card-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card" style="width: 100%;">
                                    <div class="card-header" id="accordion-tab-2-heading-3">
                                        <h5>
                                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                                data-target="#accordion-tab-2-content-3" aria-expanded="false"
                                                aria-controls="accordion-tab-2-content-3">Is my money reaching the right place</button>
                                        </h5>
                                    </div>
                                    <div class="collapse" id="accordion-tab-2-content-3"
                                        aria-labelledby="accordion-tab-2-heading-3" data-parent="#accordion-tab-2">
                                        <div class="card-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                        </div>
                                    </div>
                                </div>
                              
                            </div>
                        </div>
                        <div class="tab-pane" id="tab3" role="tabpanel" aria-labelledby="tab3">
                            <div class="accordion" id="accordion-tab-3">
                                <div class="card" style="width: 100%;">
                                    <div class="card-header" id="accordion-tab-3-heading-1">
                                        <h5>
                                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                                data-target="#accordion-tab-3-content-1" aria-expanded="false"
                                                aria-controls="accordion-tab-3-content-1">How do I ask for help?</button>
                                        </h5>
                                    </div>
                                    <div class="collapse show" id="accordion-tab-3-content-1"
                                        aria-labelledby="accordion-tab-3-heading-1" data-parent="#accordion-tab-3">
                                        <div class="card-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card" style="width: 100%;">
                                    <div class="card-header" id="accordion-tab-3-heading-2">
                                        <h5>
                                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                                data-target="#accordion-tab-3-content-2" aria-expanded="false"
                                                aria-controls="accordion-tab-3-content-2">What is community
                                                spread?</button>
                                        </h5>
                                    </div>
                                    <div class="collapse" id="accordion-tab-3-content-2"
                                        aria-labelledby="accordion-tab-3-heading-2" data-parent="#accordion-tab-3">
                                        <div class="card-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card" style="width: 100%;">
                                    <div class="card-header" id="accordion-tab-3-heading-3">
                                        <h5>
                                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                                data-target="#accordion-tab-3-content-3" aria-expanded="false"
                                                aria-controls="accordion-tab-3-content-3">Can my family get help?</button>
                                        </h5>
                                    </div>
                                    <div class="collapse" id="accordion-tab-3-content-3"
                                        aria-labelledby="accordion-tab-3-heading-3" data-parent="#accordion-tab-3">
                                        <div class="card-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="tab-pane" id="tab4" role="tabpanel" aria-labelledby="tab4">
                            <div class="accordion" id="accordion-tab-4">
                                <div class="card" style="width: 100%;">
                                    <div class="card-header" id="accordion-tab-4-heading-1">
                                        <h5>
                                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                                data-target="#accordion-tab-4-content-1" aria-expanded="false"
                                                aria-controls="accordion-tab-4-content-1">What are the symtoms and
                                                complications caused by COVID-19?</button>
                                        </h5>
                                    </div>
                                    <div class="collapse show" id="accordion-tab-4-content-1"
                                        aria-labelledby="accordion-tab-4-heading-1" data-parent="#accordion-tab-4">
                                        <div class="card-body">
                                            <p>People with COVID-19 have reported a wide range of symptoms – from mild
                                                symptoms to severe illness. Symptoms may appear 2-14 days after exposure
                                                to the virus. If you have the below symptoms you might have COVID-19.
                                            </p>
                                            <ul>
                                                <li> Fever or chills</li>
                                                <li> Cough</li>
                                                <li> Shortness of breath or difficulty breathing</li>
                                                <li> Fatigue</li>
                                                <li> Muscle or body aches</li>
                                                <li> Headache</li>
                                                <li> New loss of taste or smell</li>
                                                <li> Sore throat</li>
                                                <li> Congestion or runny nose</li>
                                                <li> Nausea or vomiting</li>
                                                <li> Diarrhea</li>

                                            </ul>
                                            <p>This list does not include all possible symptoms.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card" style="width: 100%;">
                                    <div class="card-header" id="accordion-tab-4-heading-2">
                                        <h5>
                                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                                data-target="#accordion-tab-4-content-2" aria-expanded="false"
                                                aria-controls="accordion-tab-4-content-2">When and how should I take
                                                emergency steps?</button>
                                        </h5>
                                    </div>
                                    <div class="collapse" id="accordion-tab-4-content-2"
                                        aria-labelledby="accordion-tab-4-heading-2" data-parent="#accordion-tab-4">
                                        <div class="card-body">
                                            <p>Look for emergency warning signs* for COVID-19. If someone is showing any
                                                of these signs, seek emergency medical care immediately
                                            <ul>
                                                <li> Trouble breathing</li>
                                                <li> Persistent pain or pressure in the chest</li>
                                                <li> New confusion</li>
                                                <li> Inability to wake or stay awake</li>
                                                <li> Pale, gray, or blue-colored skin, lips, or nail beds, depending on
                                                    skin tone</li>
                                            </ul>
                                            *This list is not all possible symptoms. Please call your medical provider
                                            for any other symptoms that are severe or concerning to you.</p>
                                            <p>Call this emergency number <a
                                                    href="tel:+91-11-23978046">+91-11-23978046</a> whenever in emergency
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card" style="width: 100%;">
                                    <div class="card-header" id="accordion-tab-4-heading-3">
                                        <h5>
                                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                                data-target="#accordion-tab-4-content-3" aria-expanded="false"
                                                aria-controls="accordion-tab-4-content-3">Is is possible for me to have
                                                flu and COVID-19 at the same time?</button>
                                        </h5>
                                    </div>
                                    <div class="collapse" id="accordion-tab-4-content-3"
                                        aria-labelledby="accordion-tab-4-heading-3" data-parent="#accordion-tab-4">
                                        <div class="card-body">
                                            <p>Yes. It's possible to test positive for flu (as well as other respiratory
                                                infections) and COVID-19 at the same time. Because a number of the
                                                symptoms of flu and COVID-19 are similar, it's going to be hard to tell
                                                the difference between them based on symptoms alone. Testing could also
                                                be needed to assist confirm a diagnosis.The best way to prevent seasonal
                                                flu is to get vaccinated once a year. Flu vaccines won't prevent
                                                COVID-19, but they're going to reduce your chances of getting flu.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="tab-pane" id="tab5" role="tabpanel" aria-labelledby="tab5">
                            <div class="accordion" id="accordion-tab-5">
                                <div class="card" style="width: 100%;">
                                    <div class="card-header" id="accordion-tab-5-heading-1">
                                        <h5>
                                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                                data-target="#accordion-tab-5-content-1" aria-expanded="false"
                                                aria-controls="accordion-tab-5-content-1">How to get
                                                Vaccinated?</button>
                                        </h5>
                                    </div>
                                    <div class="collapse show" id="accordion-tab-5-content-1"
                                        aria-labelledby="accordion-tab-5-heading-1" data-parent="#accordion-tab-5">
                                        <div class="card-body">
                                            <p>To track and book slots for vaccination the Government of India has come
                                                up with an application named COWIN. <br>
                                                You can use the application and book slots in and around you locality.
                                                <br>
                                                Application link - <a href="https://www.cowin.gov.in/">COWIN</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card" style="width: 100%;">
                                    <div class="card-header" id="accordion-tab-5-heading-2">
                                        <h5>
                                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                                data-target="#accordion-tab-5-content-2" aria-expanded="false"
                                                aria-controls="accordion-tab-5-content-2">Can I get COVID-19 vaccine
                                                while I'm currently sick with COVID-19</button>
                                        </h5>
                                    </div>
                                    <div class="collapse" id="accordion-tab-5-content-2"
                                        aria-labelledby="accordion-tab-5-heading-2" data-parent="#accordion-tab-5">
                                        <div class="card-body">
                                            <p>No. People with COVID-19 who have symptoms should wait to be vaccinated
                                                until they have recovered from their illness and have met the criteria
                                                for discontinuing isolation; those without symptoms should also wait
                                                until they meet the criteria before getting vaccinated. This guidance
                                                also applies to people that get COVID-19 before getting their second
                                                dose of vaccine.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card" style="width: 100%;">
                                    <div class="card-header" id="accordion-tab-5-heading-3">
                                        <h5>
                                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                                data-target="#accordion-tab-5-content-3" aria-expanded="false"
                                                aria-controls="accordion-tab-5-content-3">Which COVID vaccines are
                                                licensed in India</button>
                                        </h5>
                                    </div>
                                    <div class="collapse" id="accordion-tab-5-content-3"
                                        aria-labelledby="accordion-tab-5-heading-3" data-parent="#accordion-tab-5">
                                        <div class="card-body">
                                            <p>Two vaccines that have been granted emergency use authorization by the
                                                Central Drugs Standard Control Organization (CDSCO) in India are
                                                Covishield® (AstraZeneca's vaccine manufactured by Serum Institute of
                                                India) and Covaxin® (manufactured by Bharat Biotech Limited).
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card" style="width: 100%;">
                                    <div class="card-header" id="accordion-tab-5-heading-4">
                                        <h5>
                                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                                data-target="#accordion-tab-5-content-4" aria-expanded="false"
                                                aria-controls="accordion-tab-5-content-4">Do I need to use the
                                                mask/other COVID-19 appropriate precautions after receiving the
                                                vaccine?</button>
                                        </h5>
                                    </div>
                                    <div class="collapse" id="accordion-tab-5-content-4"
                                        aria-labelledby="accordion-tab-5-heading-4" data-parent="#accordion-tab-5">
                                        <div class="card-body">
                                            <p>Yes, it is absolutely necessary that everyone who has received the
                                                COVID-19 vaccine should continue to follow the COVID-19 appropriate
                                                behaviour i.e., mask, do gaj ki doori and hand sanitization to protect
                                                themselves and those around from spreading the infection.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>



    <!-- FAQ'S End -->




    <!-- Main container closed -->
    </div>

</main>
{% endblock basic_body %}