{% extends 'basic.html' %}

{% block basic_title %} Yodha :: Home{% endblock basic_title %}

{% block basic_head %}

    <link rel="stylesheet" href="/media/css/home.css">
    <link rel="stylesheet" href="https://cdn.3up.dk/mdi@2.2.43/css/materialdesignicons.min.css">

{% endblock basic_head %}

{% block basic_body %}

    <main>
        <!-- Main Container -->
        <div class="container col-xxl-10 px-1 py-1" style="margin-top: 20px; margin-bottom: 80px;">

            <!-- Hero Section -->
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5" style="margin-top: -40px; margin-bottom: 40px; background-image: url('/media/images/home/shape-a.png');">
                <div class="col-sm-12 col-lg-6">
                    <img src="/media/images/home/hero.jpg" class="d-block mx-lg-auto img-fluid" width="900" height="700"
                        loading="lazy">
                </div>
                <div class="col-lg-6" id="hero_text_div">
                    <h1 class="display-5 fw-bold lh-1 mb-3"
                        style="font-size: 48px; color: #00adb5;font-family: oswald;">Srot - Covid19 <br> Emergency
                        Resources</h1>
                    <p class="lead">The Corona Virus pandemic has taken a devastating toll on people in India. It is not just a physical one but also has bought in pain, isolation, and death. Srot is an aim to be India's largest Crowd-Sourced Emergency Services Directory and its main objective is to ease the process of finding resources for an Indian citizen in times of crisis.</p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        <a href="leads/oxygenleads/1"><button style="background-color: #47E0B0;border-color:white" type="button" class="btn btn-primary btn-lg px-4 me-md-2">Leads</button></a>
                        <a href="donations/oxygen/"><button type="button" style="color: #47E0B0;border-color:#47E0B0;" class="btn btn-outline-primary btn-lg px-4 me-md-2">Donate</button></a>
                    </div>
                </div>
            </div>
            <!-- Hero Section End -->

            <!-- About Virus -->

            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-sm-8 col-lg-6">
                    <table>
                        <tr>

                            <th style="color: #47E0B0">What you need to know?</th>
                            <th></th>

                        </tr>
                        <tr>
                            <td><a href="#transmission">How coronavirus is spread</a></td>
                            <td><i class="fa fa-arrow-right"></i></td>
                        </tr>
                        <tr>
                            <td><a href="#symptoms">Symptoms of coronavirus</a></td>
                            <td><i class="fa fa-arrow-right"></i></td>
                        </tr>
                        <tr>
                            <td><a href="#prevention">How to protect yourself</a></td>
                            <td><i class="fa fa-arrow-right"></i></td>
                        </tr>
                        <tr>
                            <td><a href="#treatment">Treatment for coronavirus</a></td>
                            <td><i class="fa fa-arrow-right"></i></td>
                        </tr>
                        <tr>
                            <td><a href="#faqs">FAQ's</a></td>
                            <td><i class="fa fa-arrow-right"></i></td>
                        </tr>

                    </table>
                </div>
                <div class="col-lg-6" id="about_covid_div">
                    <h5 class="display-5 fw-bold lh-1 mb-3"
                        style="font-size: 18px; color: #47E0B0;font-family: Roboto;">ABOUT THE DISEASE</h5>

                    <h3 class="display-5 fw-bold lh-1 mb-3"
                        style="font-size: 48px; color: #00adb5;font-family: oswald;">
                        CORONA-VIRUS</h3>

                    <p class="lead" style="color: #393e46;">Corona Virus also  termed as COVID-19 is a disease that spreads by touch and coming in contact with an infected person.
                        This illness can damage your lungs and airways permanently and also reduce your immunity.
                        It was discovered in December 2019 in Wuhan, Hubei, China.</p>

                    <p class="lead" style="color: #393e46;"> Some common symptoms of Covid19 are high fever, dry cough, shortness of
                        breath and breathing difficulties. It can be severe for people with low immunity as it can cause pneumonia, severe
                        acute respiratory syndromes, kidney failure and can be fatal.</p>

                    <p class="lead" style="color: #393e46;"> Click on the links given on right to know more about Covid19 in depth.</p>

                </div>
            </div>

            <!-- About Virus End -->

            <!-- Spread of Virus -->
            <div class="px-4 py-5 my-5 text-center"><a name='transmission'></a>
                <h5 class="display-5 fw-bold lh-1 mb-3" style="font-size: 18px; color: #47E0B0;font-family: Roboto;">HOW
                    CORONAVIRUS IS SPREAD?</h5>

                <h3 class="display-5 fw-bold lh-1 mb-3" style="font-size: 48px; color: #00adb5;font-family: oswald;">
                    TRANSMISSION OF COVID-19</h3>

                <div class="col-lg-6 mx-auto">
                    <p class="lead mb-6">The Corona Virus spreads mostly through touch and we should mainatin social distancing. Below are
                    some common transmission methods of infection.</p>
                </div>

            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card" style="width:100%">
                        <img src="/media/images/home/closecontact.png" alt="Avatar" style="width:100%">
                        <div class="container">
                            <h4><b>Person-to-person spread as close contact with infected</b></h4>
                            <p>The Corona Virus is mainly spread when we come in contact with a person who's already affected by Covid-19. Hence, social distancing is recommended for everyone. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width:100%">
                        <img src="/media/images/home/touch.png" alt="Avatar" style="width:100%">
                        <div class="container">
                            <h4><b>Touching or contact with infected surfaces or objects</b></h4>
                            <p>A person can be affected by COVID-19 if they touch infected objects like building elevators.
                                It is advised to sanitize your hands everytime you touch such surfaces.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width:100%">
                        <img src="/media/images/home/infectedperson.png" alt="Avatar" style="width:100%">
                        <div class="container">
                            <h4><b>Coming in contact with a person who has cough</b></h4>
                            <p>The most common symptoms of Covid-19 are cough and fever.
                                It is advisable to not come in physical contact with such infected people and maintain social distancing.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Spread of Virus End -->

        <!-- Symptoms -->
        <div class="px-4 py-5 my-5 text-center"><a name='symptoms'></a>
            <h5 class="display-5 fw-bold lh-1 mb-3" style="font-size: 18px; color: #47E0B0;font-family: Roboto;">HOW
                WHAT ARE THE SYMPTOMS OF COVID-19?</h5>

            <h3 class="display-5 fw-bold lh-1 mb-3" style="font-size: 48px; color: #00adb5;font-family: oswald;">
                SYMPTOMS OF CORONAVIRUS</h3>

            <div class="col-lg-6 mx-auto">
                <p class="lead mb-12">The most common symptoms of COVID-19 are fever, mild cough and fatigue. Some
                    patients may have joint aches and pains and may lose the sensation of taste and smell. These
                    symptoms are exposed within 2-14 days after getting infected by Covid-19</p>
            </div>

        </div>

        <div class="row">
            <div class="col-md-2" id="symtoms_extra_div"></div>
            <figure class="snip1390 col-md-4">
                <img src="/media/images/home/fever.png" alt="profile-sample3" class="profile" />
                <figcaption>
                    <h4>Fever</h4>

                    <blockquote>High Fever – Your head and chest might become warm and your temperature may increase.
                        It is a common sign and appears in 2-10 days if you infected.
                    </blockquote>
                </figcaption>
            </figure>
            <figure class="snip1390 col-md-4"><img src="/media/images/home/cough.png" alt="profile-sample5"
                    class="profile" />
                <figcaption>
                    <h4>Cough</h4>

                    <blockquote>Continuous cough – If you are suffering dy cough from a long time and feel feverish then there is a high chance that you're infected by Covid19.
                    </blockquote>
                </figcaption>
            </figure>
            <figure class="snip1390 col-md-4"><img src="/media/images/home/breath.png" alt="profile-sample6"
                    class="profile" />
                <figcaption>
                    <h4>Shortness of breath</h4>

                    <blockquote>Difficulty in breathing – If you have shortness of breath and has dificulty in breathing, its a very common symptom of Covid19 and should get tested immediately.</blockquote>
                </figcaption>
            </figure>
        </div>

        </div>
        <!-- Symptoms End -->

        <!-- Prevention & Advice Begin -->
        <div class="px-4 py-5 my-5 text-center"><a name='prevention'></a>
            <h5 class="display-5 fw-bold lh-1 mb-3" style="font-size: 18px; color: #47E0B0;font-family: Roboto;">HOW
                TO PROTECT YOURSELF?</h5>

            <h3 class="display-5 fw-bold lh-1 mb-3" style="font-size: 48px; color: #00adb5;font-family: oswald;">
                PREVENTION & ADVICE</h3>

            <div class="col-lg-6 mx-auto">
                <p class="lead mb-12">It is advised to take the vaccine immediately and also its important for patients with diabetes
                    and high blood pressure to take it as soon as possible. Seek medical help whenever required and stay home as much as you can.</p>
            </div>

        </div>

        <div class="container marketing">

            <!-- Three columns of text below the carousel -->
            <div class="row">
                <div class="col-lg-3">
                    <img src="/media/images/home/wash.png" style="width:124px; border-radius: 50%;">
                    <h4 style="margin-top: 20px;">Wash your hands frequently</h4>
                    <p>Wash your hands frequently and especially when you come home and always keep
                        a pocket sanitizer with you and santize your hands often.</p>

                </div><!-- /.col-lg-4 -->
                <div class="col-lg-3">
                    <img src="/media/images/home/social.png" style="width:186px; border-radius: 50%;">
                    <h4 style="margin-top: 20px;">Maintain social distancing</h4>
                    <p>Maintain minimum 3 feet distance between yourself & anyone who is around you. If you are too close, you may get infected.</p>

                </div><!-- /.col-lg-4 -->
                <div class="col-lg-3">
                    <img src="/media/images/home/facetouch.jpg" style="width:150px; border-radius: 50%;">
                    <h4 style="margin-top: 20px;">Avoid touching face</h4>
                    <p>Do not touch external surfaces or objects at public places and then rub your face,
                        nose or mouth as it may lead to Covid19.</p>

                </div><!-- /.col-lg-4 -->
                <div class="col-lg-3">
                    <img src="/media/images/home/hygeine.png" style="width:150px; border-radius: 50%;">

                    <h4 style="margin-top: 20px;">Practice respiratory hygiene</h4>
                    <p>Always cover your mouth while coughing or sneezing and wear a mask all time
                        when in public places to avoid the infection.</p>

                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->

        </div>
        <!-- Prevention & Advice End -->

        <!-- Treatment -->

        <div class="row align-items-md-stretch"
            style="padding-top: 100px; padding-bottom:100px; margin-top:20px; margin-bottom:-50px; background-color: #00adb5; background-image: url('/media/images/home/bg.png');">
            <a name='treatment'></a>
            <div class="col-md-6">
                <div class="h-100 p-5 text-white  rounded-3">
                    <h5 class="display-5 fw-bold lh-1 mb-3 text-white "
                        style="font-size: 18px; color: #47E0B0;font-family: Roboto;">
                        BE CAREFULL & STAY SAFE</h5>

                    <h3 class="display-5 fw-bold lh-1 mb-3 text-white "
                        style="font-size: 48px; color: #00adb5;font-family: oswald;">
                        TREATMENT FOR CORONAVIRUS</h3>

                    <div class="col-lg-12 mx-auto">
                        <p style="color:white !important;">To reduce the possiblity of being infected by Covid19 you and your family should take the vaccine
                        immediately.However, people suffering from Cancer or undergoing any major treatment should seek advice from doctor before getting vaccinated.
                            People with serious illness should be hospitalized as soon as possible.</p>

                        <p style="color:white !important;">Take antibiotics only after seeking medical advise from doctors. For any emergency resource
                            you can check our website to find verified leads. Until then stay in isolation, and do
                            come in contact with other people.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="h-100 p-5 text-white rounded-3">

                    <h2>Self Care</h2>
                    <p style="color:white !important;">If you have any symptoms, stay quarantined until you’ve recovered. You can relieve yourself if
                        you:</p>
                    <li>Rest and sleep</li>
                    <li>Keep warm</li>
                    <li>Drink plenty of liquids</li>
                    <li>Use a room humidifier</li>
                    <li>Take a hot shower to help ease a sore throat and cough</li>
                    <br>
                    <h2>Medical Treatments</h2>
                    <p style="color:white !important;">If you feel you have mild symptoms and have severe illness, promptly seek medical care. Call your
                       doctor and seek medical advsie on urgent basis without any delay.</p>
                </div>
            </div>
        </div>

        <!-- Treatment END -->

        <!-- DO’S & DON’TS -->
        <div style="background-color: #F6F9FE;">
            <div class="px-4 py-5 my-5 text-center">
                <h5 class="display-5 fw-bold lh-1 mb-3" style="font-size: 18px; color: #47E0B0;font-family: Roboto;">
                    DO’S & DON’TS</h5>

                <h3 class="display-5 fw-bold lh-1 mb-3" style="font-size: 48px; color: #00adb5;font-family: oswald;">
                    PROTECT YOURSELF</h3>

                <div class="col-lg-6 mx-auto">
                    <p class="lead mb-12">The best thing you can do to protect yourself and your family is to take
                        the vaccination as soon as possible as it reduces the probability of getting infected by Covid-19.
                        You are also advised to take all necessary health care.</p>
                </div>

            </div>


            <div class="col-12 col-sm-12 col-lg-12">
                <img src="/media/images/home/protectyourself.png" class="d-block mx-lg-auto img-fluid" width="1500"
                    height="600" loading="lazy">
            </div>
        </div>
        <!-- DO’S & DON’TS End -->

        <!-- FAQ'S -->
        <div class="px-4 py-5 my-5 text-center"><a name='faqs'></a>
            <h5 class="display-5 fw-bold lh-1 mb-3" style="font-size: 18px; color: #47E0B0;font-family: Roboto;">
                FREQUENTLY ASKED QUESTIONS</h5>

            <h3 class="display-5 fw-bold lh-1 mb-3" style="font-size: 48px; color: #00adb5;font-family: oswald;">
                COMMON QUESTION & ANSWER</h3>

            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="nav nav-pills faq-nav" id="faq-tabs" role="tablist" aria-orientation="vertical">
                            <a href="#tab1" class="nav-link active" data-toggle="pill" role="tab" aria-controls="tab1"
                                aria-selected="true">
                                <i class="fa fa-question-circle"></i> Frequently Asked Questions
                            </a>
                            <a href="#tab2" class="nav-link" data-toggle="pill" role="tab" aria-controls="tab2"
                                aria-selected="false">
                                <img style="float: inherit;" src="/media/images/faq_icons/prevention.png" alt=""> Prevention
                            </a>
                            <a href="#tab3" class="nav-link" data-toggle="pill" role="tab" aria-controls="tab3"
                                aria-selected="false">
                                <img style="float: inherit;" src="/media/images/faq_icons/spread.png" alt=""> Spread
                            </a>
                            <a href="#tab4" class="nav-link" data-toggle="pill" role="tab" aria-controls="tab4"
                                aria-selected="false">
                                <img style="float: inherit;" src="/media/images/faq_icons/symptoms.png" alt=""> Symptoms & Warnings
                            </a>
                            <a href="#tab5" class="nav-link" data-toggle="pill" role="tab" aria-controls="tab5"
                                aria-selected="false">
                                <img style="float: inherit;" src="/media/images/faq_icons/vaccine.png" alt=""> Vaccination
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-8" style="text-align: justify;">
                        <div class="tab-content" id="faq-tab-content">
                            <div class="tab-pane show active" id="tab1" role="tabpanel" aria-labelledby="tab1">
                                <div class="accordion" id="accordion-tab-1">
                                    <div class="card" style="width: 100%;">
                                        <div class="card-header" id="accordion-tab-1-heading-1">
                                            <h5>
                                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                                    data-target="#accordion-tab-1-content-1" aria-expanded="false"
                                                    aria-controls="accordion-tab-1-content-1">What is COVID-19?</button>
                                            </h5>
                                        </div>
                                        <div class="collapse show" id="accordion-tab-1-content-1"
                                            aria-labelledby="accordion-tab-1-heading-1" data-parent="#accordion-tab-1">
                                            <div class="card-body">
                                                <p>COVID-19 is a new disease, caused by a completely unique (or new) coronavirus that has not previously been seen in humans. Because it's a brand new virus, scientists are learning more every day . Although the majority who have COVID-19 have mild symptoms, COVID-19 also can cause severe illness and even death. Some groups, including older adults and other people who have certain underlying medical conditions, are at increased risk of severe illness.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card" style="width: 100%;">
                                        <div class="card-header" id="accordion-tab-1-heading-2">
                                            <h5>
                                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                                    data-target="#accordion-tab-1-content-2" aria-expanded="false"
                                                    aria-controls="accordion-tab-1-content-2">Why is it called COVID-19</button>
                                            </h5>
                                        </div>
                                        <div class="collapse" id="accordion-tab-1-content-2"
                                            aria-labelledby="accordion-tab-1-heading-2" data-parent="#accordion-tab-1">
                                            <div class="card-body">
                                                <p>On February 11, 2020 the world Health Organization announced an official name for the disease that's causing the 2019 novel coronavirus outbreak, first identified in Wuhan China. The new name of this disease is coronavirus disease 2019, abbreviated as COVID-19. In COVID-19, “CO” stands for corona, “VI” for virus, and ”D” for disease. Formerly, this disease was mentioned as “2019 novel coronavirus” or “2019-nCoV.”</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="tab-pane" id="tab2" role="tabpanel" aria-labelledby="tab2">
                                <div class="accordion" id="accordion-tab-2">
                                    <div class="card" style="width: 100%;">
                                        <div class="card-header" id="accordion-tab-2-heading-1">
                                            <h5>
                                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                                    data-target="#accordion-tab-2-content-1" aria-expanded="false"
                                                    aria-controls="accordion-tab-2-content-1">How can I protect myself</button>
                                            </h5>
                                        </div>
                                        <div class="collapse show" id="accordion-tab-2-content-1"
                                            aria-labelledby="accordion-tab-2-heading-1" data-parent="#accordion-tab-2">
                                            <div class="card-body">
                                                <ul style="text-align: left;">
                                                    <li>Wear a mask</li>
                                                    <li>Stay 6 feet away from others</li>
                                                    <li>Get Vaccinated</li>
                                                    <li>Avoid crowds and poorly ventilated spaces</li>
                                                    <li>Wash your hands often</li>
                                                    <li>Cover coughs and sneezes</li>
                                                    <li>Clean and disinfect</li>
                                                    <li>Monitor your health daily</li>
                                                    For more information on the same visit <a href="https://www.cdc.gov/coronavirus/2019-ncov/prevent-getting-sick/prevention.html">This link</a>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card" style="width: 100%;">
                                        <div class="card-header" id="accordion-tab-2-heading-2">
                                            <h5>
                                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                                    data-target="#accordion-tab-2-content-2" aria-expanded="false"
                                                    aria-controls="accordion-tab-2-content-2">Can I donate Blood?</button>
                                            </h5>
                                        </div>
                                        <div class="collapse" id="accordion-tab-2-content-2"
                                            aria-labelledby="accordion-tab-2-heading-2" data-parent="#accordion-tab-2">
                                            <div class="card-body">
                                                <p>The need for donated blood is constant, and blood centers are open and in urgent need of donations. We encourage people that are well to still donate blood if they're able, even if they're practicing social distancing due to COVID-19. Just make sure the procedure is systematic and under proper supervision</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card" style="width: 100%;">
                                        <div class="card-header" id="accordion-tab-2-heading-3">
                                            <h5>
                                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                                    data-target="#accordion-tab-2-content-3" aria-expanded="false"
                                                    aria-controls="accordion-tab-2-content-3">Should I use soap with water or hand sanitizer to fight against COVID-19?</button>
                                            </h5>
                                        </div>
                                        <div class="collapse" id="accordion-tab-2-content-3"
                                            aria-labelledby="accordion-tab-2-heading-3" data-parent="#accordion-tab-2">
                                            <div class="card-body">
                                                <p>Handwashing is one among the simplest ways to guard yourself and your family from getting sick. Wash your hands often with soap and water for a minimum of 20 seconds, especially after blowing your nose, coughing, or sneezing; getting to the bathroom; and before eating or preparing food. If soap and water aren't readily available, use an alcohol-based hand sanitizer with a minimum of 60% alcohol.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card" style="width: 100%;">
                                        <div class="card-header" id="accordion-tab-2-heading-4">
                                            <h5>
                                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                                    data-target="#accordion-tab-2-content-4" aria-expanded="false"
                                                    aria-controls="accordion-tab-2-content-4">What things should I clean frequently and with what product?</button>
                                            </h5>
                                        </div>
                                        <div class="collapse" id="accordion-tab-2-content-4"
                                            aria-labelledby="accordion-tab-2-heading-4" data-parent="#accordion-tab-2">
                                            <div class="card-body">
                                                <p>Clean frequently touched surfaces like tables, doorknobs, light switches, countertops, handles, desks, phones, keyboards, toilets, faucets, and sinks. Cleaning with products containing soap or detergent reduces germs on surfaces and objects by removing contaminants and should weaken or damage a number of the virus particles, which decreases risk of infection from surfaces. You'll prefer to also disinfect counting on certain conditions or everyday practices required by your home. To disinfect, commonest Environmental Protection Agency-registered household disinfect ants will work.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab3" role="tabpanel" aria-labelledby="tab3">
                                <div class="accordion" id="accordion-tab-3">
                                    <div class="card" style="width: 100%;">
                                        <div class="card-header" id="accordion-tab-3-heading-1">
                                            <h5>
                                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                                    data-target="#accordion-tab-3-content-1" aria-expanded="false"
                                                    aria-controls="accordion-tab-3-content-1">How does COVID-19 spread?</button>
                                            </h5>
                                        </div>
                                        <div class="collapse show" id="accordion-tab-3-content-1"
                                            aria-labelledby="accordion-tab-3-heading-1" data-parent="#accordion-tab-3">
                                            <div class="card-body">
                                                <p>COVID-19 is assumed to spread mainly through close contact from person to person, including between people that are physically near one another (within about 6 feet). people that are infected but don't show symptoms also can spread the virus to others. Cases of reinfection with COVID-19 are reported but are rare. COVID-19 spreads very easily from person to person. How easily a virus spreads from person to person can vary. The virus that causes COVID-19 appears to spread more efficiently than influenza but not as efficiently as measles, which is among the foremost contagious viruses known to affect people.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card" style="width: 100%;">
                                        <div class="card-header" id="accordion-tab-3-heading-2">
                                            <h5>
                                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                                    data-target="#accordion-tab-3-content-2" aria-expanded="false"
                                                    aria-controls="accordion-tab-3-content-2">What is community spread?</button>
                                            </h5>
                                        </div>
                                        <div class="collapse" id="accordion-tab-3-content-2"
                                            aria-labelledby="accordion-tab-3-heading-2" data-parent="#accordion-tab-3">
                                            <div class="card-body">
                                                <p>Community spread means people have been infected with the virus in an area, including some who are not sure how or where they became infected. Each health department determines community spread differently based on local conditions. </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card" style="width: 100%;">
                                        <div class="card-header" id="accordion-tab-3-heading-3">
                                            <h5>
                                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                                    data-target="#accordion-tab-3-content-3" aria-expanded="false"
                                                    aria-controls="accordion-tab-3-content-3">Can Mosquito bites spread this virus?</button>
                                            </h5>
                                        </div>
                                        <div class="collapse" id="accordion-tab-3-content-3"
                                            aria-labelledby="accordion-tab-3-heading-3" data-parent="#accordion-tab-3">
                                            <div class="card-body">
                                                <p>To date there has been no information nor evidence to suggest that the new coronavirus could be transmitted by mosquitoes. The new coronavirus is a respiratory virus which spreads primarily through droplets generated when an infected person coughs or sneezes, or through droplets of saliva or discharge from the nose.</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="tab-pane" id="tab4" role="tabpanel" aria-labelledby="tab4">
                                <div class="accordion" id="accordion-tab-4">
                                    <div class="card" style="width: 100%;">
                                        <div class="card-header" id="accordion-tab-4-heading-1">
                                            <h5>
                                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                                    data-target="#accordion-tab-4-content-1" aria-expanded="false"
                                                    aria-controls="accordion-tab-4-content-1">What are the symtoms and complications caused by COVID-19?</button>
                                            </h5>
                                        </div>
                                        <div class="collapse show" id="accordion-tab-4-content-1"
                                            aria-labelledby="accordion-tab-4-heading-1" data-parent="#accordion-tab-4">
                                            <div class="card-body">
                                                <p>People with COVID-19 have reported a wide range of symptoms – from mild symptoms to severe illness. Symptoms may appear 2-14 days after exposure to the virus. If you have the below symptoms you might have COVID-19.</p>
                                                <ul>
                                                    <li> Fever or chills</li>
                                                    <li> Cough</li>
                                                    <li> Shortness of breath or difficulty breathing</li>
                                                    <li> Fatigue</li>
                                                    <li> Muscle or body aches</li>
                                                    <li> Headache</li>
                                                    <li> New loss of taste or smell</li>
                                                    <li> Sore throat</li>
                                                    <li> Congestion or runny nose</li>
                                                    <li> Nausea or vomiting</li>
                                                    <li> Diarrhea</li>

                                                </ul>
                                                <p>This list does not include all possible symptoms.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card" style="width: 100%;">
                                        <div class="card-header" id="accordion-tab-4-heading-2">
                                            <h5>
                                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                                    data-target="#accordion-tab-4-content-2" aria-expanded="false"
                                                    aria-controls="accordion-tab-4-content-2">When and how should I take emergency steps?</button>
                                            </h5>
                                        </div>
                                        <div class="collapse" id="accordion-tab-4-content-2"
                                            aria-labelledby="accordion-tab-4-heading-2" data-parent="#accordion-tab-4">
                                            <div class="card-body">
                                                <p>Look for emergency warning signs* for COVID-19. If someone is showing any of these signs, seek emergency medical care immediately
                                                    <ul>
                                                    <li> Trouble breathing</li>
                                                    <li> Persistent pain or pressure in the chest</li>
                                                    <li> New confusion</li>
                                                    <li> Inability to wake or stay awake</li>
                                                    <li> Pale, gray, or blue-colored skin, lips, or nail beds, depending on skin tone</li>
                                                    </ul>
                                                    *This list is not all possible symptoms. Please call your medical provider for any other symptoms that are severe or concerning to you.</p>
                                                <p>Call this emergency number <a href="tel:+91-11-23978046">+91-11-23978046</a> whenever in emergency</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card" style="width: 100%;">
                                        <div class="card-header" id="accordion-tab-4-heading-3">
                                            <h5>
                                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                                    data-target="#accordion-tab-4-content-3" aria-expanded="false"
                                                    aria-controls="accordion-tab-4-content-3">Is is possible for me to have flu and COVID-19 at the same time?</button>
                                            </h5>
                                        </div>
                                        <div class="collapse" id="accordion-tab-4-content-3"
                                            aria-labelledby="accordion-tab-4-heading-3" data-parent="#accordion-tab-4">
                                            <div class="card-body">
                                                <p>Yes. It's possible to test positive for flu (as well as other respiratory infections) and COVID-19 at the same time. Because a number of the symptoms of flu and COVID-19 are similar, it's going to be hard to tell the difference between them based on symptoms alone. Testing could also be needed to assist confirm a diagnosis.The best way to prevent seasonal flu is to get vaccinated once a year. Flu vaccines won't prevent COVID-19, but they're going to reduce your chances of getting flu.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="tab-pane" id="tab5" role="tabpanel" aria-labelledby="tab5">
                                <div class="accordion" id="accordion-tab-5">
                                    <div class="card" style="width: 100%;">
                                        <div class="card-header" id="accordion-tab-5-heading-1">
                                            <h5>
                                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                                    data-target="#accordion-tab-5-content-1" aria-expanded="false"
                                                    aria-controls="accordion-tab-5-content-1">How to get Vaccinated?</button>
                                            </h5>
                                        </div>
                                        <div class="collapse show" id="accordion-tab-5-content-1"
                                            aria-labelledby="accordion-tab-5-heading-1" data-parent="#accordion-tab-5">
                                            <div class="card-body">
                                                <p>To track and book slots for vaccination the Government of India has come up with an application named COWIN. <br>
                                                    You can use the application and book slots in and around you locality. <br>
                                                    Application link - <a href="https://www.cowin.gov.in/">COWIN</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card" style="width: 100%;">
                                        <div class="card-header" id="accordion-tab-5-heading-2">
                                            <h5>
                                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                                    data-target="#accordion-tab-5-content-2" aria-expanded="false"
                                                    aria-controls="accordion-tab-5-content-2">Can I get COVID-19 vaccine while I'm currently sick with COVID-19</button>
                                            </h5>
                                        </div>
                                        <div class="collapse" id="accordion-tab-5-content-2"
                                            aria-labelledby="accordion-tab-5-heading-2" data-parent="#accordion-tab-5">
                                            <div class="card-body">
                                                <p>No. People with COVID-19 who have symptoms should wait to be vaccinated until they have recovered from their illness and have met the criteria for discontinuing isolation; those without symptoms should also wait until they meet the criteria before getting vaccinated. This guidance also applies to people that get COVID-19 before getting their second dose of vaccine.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card" style="width: 100%;">
                                        <div class="card-header" id="accordion-tab-5-heading-3">
                                            <h5>
                                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                                    data-target="#accordion-tab-5-content-3" aria-expanded="false"
                                                    aria-controls="accordion-tab-5-content-3">Which COVID vaccines are licensed in India</button>
                                            </h5>
                                        </div>
                                        <div class="collapse" id="accordion-tab-5-content-3"
                                            aria-labelledby="accordion-tab-5-heading-3" data-parent="#accordion-tab-5">
                                            <div class="card-body">
                                                <p>Two vaccines that have been granted emergency use authorization by the Central Drugs Standard Control Organization (CDSCO) in India are Covishield® (AstraZeneca's vaccine manufactured by Serum Institute of India) and Covaxin® (manufactured by Bharat Biotech Limited).
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card" style="width: 100%;">
                                        <div class="card-header" id="accordion-tab-5-heading-4">
                                            <h5>
                                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                                    data-target="#accordion-tab-5-content-4" aria-expanded="false"
                                                    aria-controls="accordion-tab-5-content-4">Do I need to use the mask/other COVID-19 appropriate precautions after receiving the vaccine?</button>
                                            </h5>
                                        </div>
                                        <div class="collapse" id="accordion-tab-5-content-4"
                                            aria-labelledby="accordion-tab-5-heading-4" data-parent="#accordion-tab-5">
                                            <div class="card-body">
                                                <p>Yes, it is absolutely necessary that everyone who has received the COVID-19 vaccine should continue to follow the COVID-19 appropriate behaviour i.e., mask, do gaj ki doori and hand sanitization to protect themselves and those around from spreading the infection.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>



        <!-- FAQ'S End -->




        <!-- Main container closed -->
        </div>

    </main>
{% endblock basic_body %}

